* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(31, 123, 228, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #555;
    font-weight: bold;
}
form {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
h1 {
    text-align: center;
}
.input-area-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1rem;
}
input, textarea {
    padding: 0.5rem;
    background-color: #eee;
    border: none;
}
label {
    margin-bottom: 5px;
}
.button-area {
    margin: 0rem 1rem 1rem;
    display: flex;
    justify-content: flex-end;
}
button {
    border: none;
    border-radius: 0.2rem;
    background-color: #FFF;
    cursor: pointer;
}
.submit {
    background-color: #008CBA;
    color: #FFF;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
}